.sticky {
  position: sticky;
}

.input {
  flex-shrink: 0;
  flex-grow: 1;
  border: none;
  color: white;
}

.button {
  margin-left: 0.5rem;
  flex-shrink: 1;
  color: white;
  border: 1px solid white;
}

.button,
.input {
  background: transparent;
  display: inline-block;
  line-height: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.progress {
  display: block;
  width: 100%;
}
