.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation {
  font-size: 0.7rem;
  color: white;
  background: rgb(0, 0, 0);
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.brand {
  font-weight: bold;
  border-right: 1px solid #888;
  padding-right: 0.5rem;
}

.login {
  cursor: pointer;
}

.generate {
  background: #111;
  flex-grow: 1;
  display: flex;
}

.form {
  display: flex; 
  align-items: center;
  flex-grow: 1;
}

.textarea {
  resize: none;
  overflow: hidden;
  max-height: 5rem;
}

.input, .textarea {
  font-family: sans-serif;
  font-size: 0.8rem;
  flex-grow: 1;
  border: none;
  color: white;
  background: #111;
  padding: 0.25rem 0.5rem;
  text-overflow: ellipsis;
  margin: 0.25rem;
  height: 2rem;
}

.submit {
  flex-grow: 0;
  color: white;
  background: none;
  border: none;
  font-size: 0.7rem;
  padding: 0.5rem 0.5rem;
  padding-left: 0rem;
  cursor: pointer;
  box-shadow: -2px 0px 10px 0px rgba(0,0,0,0.1);
}

.submit:disabled {
  cursor: not-allowed;
}

.save {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 0.5rem;
  justify-content: flex-end;
  margin-left: auto;
  background: white;
  color: black;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  border: none;
  font-size: .7rem;
  cursor: pointer;

}

.main {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: stretch;
  background: white;
}

.resultFrame, .codeEditor {
  width: 100%;
  border: none;
  flex-grow: 1;
  overflow: auto;
}

.codeEditor, .codeEditor > * > * {
  font-size: 0.8rem;
  max-height: 50vh;
  min-height: 50vh;
  overflow: auto;
  overflow-x: none;
}

.footer {
  color: #eee;
  background: #111;
  justify-content: right;
  font-size: 0.7rem;
  gap: 0.5rem;
  flex-shrink: 0; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding: 0.5rem;
  box-shadow: 0px 0px 10px -5px rgba(0,0,0,1);
}

.loading {
  background: #111;
  margin: 0px;
  flex-grow: 1;
}

.progress {
  width: 100%;
}

.footer a {
  cursor: pointer;
}

.copy {
  background: none;
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid white;
  font-size: .7rem;
  cursor: pointer;
  margin-left: 0.25rem;
}