.header {
  position: sticky;
  top: 0;
  background: black;
  padding: 0.5rem;
}

.form {
  display: flex; 
  gap: 1;
}

.input {
  font-size: 0.9rem;
  flex-shrink: 0;
  flex-grow: 1;
  border: none;
  color: white;
  background: transparent;
  padding: 0.25rem 0.5rem;
}

.button {
  margin-left: 0.5rem;
  flex-shrink: 1;
  color: black;
  background: white;
  border:none;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
}

.button,
.input {
  display: inline-block;
  line-height: 1rem;
  border-radius: 0.25rem;
}

.progress {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
}
