*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
}
body > :first-child {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100dvh;
}

